MONGO_URL="mongodb://127.0.0.1:27017"
DB_NAME="amt_database"

JWT_SECRET="CHANGE_ME"

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="CHANGE_ME"

FRONTEND_URL="https://amt.logisourcedigital.web.id"

STORAGE_ROOT="/opt/amt/storage"
